<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/admin.css" />

<body>
    <% if(state && state.showMessage) { %>
        <div class="message" style=<%= "background-color:" + state.color %> id="stateMsg">
            <% if(!state.isArray) { %>
                <span><%= state.msg %></span>
            <% } else { %>
                <ul>
                    <% for (let i=0; i< state.msg.length; i++) { %>
                        <li><%= state.msg[i].msg%></li>
                    <% } %>
                </ul>
            <% } %>
            <input type="button" value="X" onclick="javascript: var element = document.getElementById('stateMsg'); element.parentNode.removeChild(element);">
        </div>
    <% } %>
    <div class='table'>
        <div class='cell'>
            <form action="/admin/productEdition/save/<%= product.Id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <a href='/'>
                    <img class='logo' src='/logos/logo140x140.jpg'>
                </a>
                <h1>EDICIÓN DE PRODUCTOS</h1>
                <div class="main">
                    <div class='flex-inner'>
                        <input type='text' class='entry' name='name' placeholder='Nombre' value="<%= product.Name %>">
                    </div>
                    <div class='flex-inner'>
                        <input type='text' class='entry' name='shortDescription' placeholder='Descripción corta' value="<%= product.ShortDescription %>">
                    </div>

                    <div class='flex-inner dropdowns'>
                        <label for="brand">Marca:</label>
                        <select name="brand">
                            <% for (let i=0; i< brands.length; i++) { %>
                                <% if (product.Brand == brands[i].Id) { %>
                                    <option value=<%= brands[i].Id %> selected><%= brands[i].Name %></option>
                                <% } else { %>
                                    <option value=<%= brands[i].Id %> ><%= brands[i].Name %></option>
                                <% } %>
                            <% } %>
                        </select>
                    </div>

                    <div class='flex-inner'>
                        <input type='text' class='entry' name='code' placeholder='Código' value="<%= product.Code %>">
                    </div>

                    <div class='flex-inner'>
                        <textarea rows="5" name='largeDescription' placeholder='Descripción larga'><%= product.LargeDescription %></textarea>
                    </div>

                    <div class='flex-inner'>    
                        <textarea rows="5" name='specs' placeholder='Especificaciones técnicas (una por línea)'><%= product.Specs %></textarea>
                    </div>

                    <div class='flex-inner'>    
                        <input type='number' class='entry' name='price' placeholder='Precio' value="<%= product.Price %>">
                    </div>
                    <div class='flex-inner images'> 
                        <div>
                            <label for="images">Imágenes:</label>
                            <input type="file" name="images" multiple>
                        </div>
                        <% if (typeof product.Images != "undefined" && product.Images.length > 0) { %>
                            <ul>
                                <% for (let i=0; i< product.Images.length; i++) { %> 
                                    <li>
                                        <input type="button" value="X" onclick="javascript: alert('/images/products/<%= product.Images[i] %>');">
                                        <img src="/images/products/<%= product.Images[i] %>" alt="<%= product.Name %>">
                                    </li>
                                <% } %>
                            </ul>
                        <% } %>
                    </div>

                    <div class='flex-inner dropdowns'>
                        <label for="productType">Tipo de producto:</label>
                        <select name="productType">
                            <% for (let i=0; i< pTypes.length; i++) { %> 
                                <% if (product.ProductType == pTypes[i].Id) { %>
                                    <option value=<%= pTypes[i].Id %> selected><%= pTypes[i].Name %></option>
                                <% } else { %>
                                    <option value=<%= pTypes[i].Id %> ><%= pTypes[i].Name %></option>
                                <% } %>
                            <% } %>
                        </select>
                    </div>
                    <div class='flex-inner dropdowns'>
                        <label for="productState">Estado de producto:</label>
                        <select name="productState">
                            <% for (let i=0; i< pStates.length; i++) { %>
                                <% if (product.ProductState == pStates[i].Id) { %>
                                    <option value=<%= pStates[i].Id %> selected><%= pStates[i].Name %></option>
                                <% } else { %>
                                    <option value=<%= pStates[i].Id %> ><%= pStates[i].Name %></option>
                                <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div>
                    <button class='ingresar' type='submit'> Guardar </button>
                </div>
                  
            </form>
        </div>
    </div>
   

</body>
</html>