<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/admin.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/scripts/admin.js"></script>
    <script src="/scripts/global.js"></script>
    <script src="/scripts/productEdition.js"></script>
<body>
    <% if(state && state.showMessage) { %>
        <div class="message" style=<%= "background-color:" + state.color %> id="stateMsg">
            <% if(!state.isArray) { %>
                <span><%= state.msg %></span>
            <% } else { %>
                <ul>
                    <% for (let i=0; i< state.msg.length; i++) { %>
                        <li><%= state.msg[i].msg%></li>
                    <% } %>
                </ul>
            <% } %>
            <input type="button" value="X" onclick="javascript: var element = document.getElementById('stateMsg'); element.parentNode.removeChild(element);">
        </div>
    <% } %>
    <%- include('../partials/adminHeader') %>
    <main>
        <div class='table'>
            <div class='cell'>
                <form action="/admin/productEdition/save/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <a href='/'>
                        <img class='logo' src='/logos/logo140x140.jpg'>
                    </a>
                    <h1>EDICIÓN DE PRODUCTOS</h1>
                    <div class="main">
                        <div class='flex-inner'>
                            <input type='text' class='entry' name='name' id='name' placeholder='Nombre' value="<%= usrInput != null ? usrInput.Name : product.name %>">
                            <div class="messages"></div>
                        </div>
                        <div class='flex-inner'>
                            <input type='text' class='entry' name='shortDescription' id='shortDescription' placeholder='Descripción corta' value="<%= usrInput != null ? usrInput.ShortDescription : product.ShortDescription %>">
                            <div class="messages"></div>
                        </div>

                        <div class='flex-inner dropdowns'>
                            <label for="brand">Marca:</label>
                            <select name="brand" id="brand">
                                <% for (let i=0; i< brands.length; i++) { %>
                                    <% if(usrInput != null && usrInput.Brand != null && usrInput.Brand == brands[i].id){ %>
                                        <option value=<%= brands[i].id %> selected><%= brands[i].name %></option>
                                    <% } else if (product.Brand == brands[i].id) { %>
                                        <option value=<%= brands[i].id %> selected><%= brands[i].name %></option>
                                    <% } else { %>
                                        <option value=<%= brands[i].id %> ><%= brands[i].name %></option>
                                    <% } %>
                                <% } %>
                            </select>
                        </div>

                        <div class='flex-inner'>
                            <input type='text' class='entry' name='code' id='code' placeholder='Código' value="<%= usrInput != null ? usrInput.Code : product.Code %>">
                            <div class="messages"></div>
                        </div>

                        <div class='flex-inner'>
                            <textarea rows="5" name='largeDescription' id='largeDescription' placeholder='Descripción larga'><%= usrInput != null ? usrInput.LargeDescription : product.LargeDescription %></textarea>
                            <div class="messages"></div>
                        </div>

                        <div class='flex-inner'>    
                            <textarea rows="5" name='specs' id='specs' placeholder='Especificaciones técnicas (una por línea)'><% if(usrInput != null){ %><%= usrInput.Specs %><% } else {%><%= product.Specs.reduce((accumulator, currentValue)=> `${accumulator}\n${currentValue}`) %><% } %></textarea>
                            <div class="messages"></div>
                        </div>

                        <div class='flex-inner'>    
                            <input type='number' class='entry' name='price' id='price' placeholder='Precio' value="<%= usrInput != null ? usrInput.Price : product.Price %>">
                            <div class="messages"></div>
                        </div>
                        <div class='flex-inner images'> 
                            <div>
                                <label for="images">Imágenes:</label>
                                <input type="file" name="images" id="images" multiple>
                                <div class="messages"></div>
                            </div>
                            <% if (typeof product.Images != "undefined" && product.Images.length > 0) { %>
                                <ul id="preImages">
                                    <% for (let i=0; i< product.Images.length; i++) { %> 
                                        <li>
                                            <input id="btnDelImg<%= product.id %>" type="button" value="X" onclick="javascript: deleteImage('<%= product.id %>', '<%= product.Images[i] %>');">
                                            <!-- data-id="<%= product.Id %>" data-filename="<%= product.Images[i] %>" -->
                                            <img src="/images/products/<%= product.Images[i] %>" alt="<%= product.Name %>">
                                        </li>
                                    <% } %>
                                </ul>
                            <% } %>
                        </div>

                        <div class='flex-inner dropdowns'>
                            <label for="productType">Tipo de producto:</label>
                            <select name="productType" id="productType">
                                <% for (let i=0; i< pTypes.length; i++) { %>
                                    <% if(usrInput != null && usrInput.ProductType != null && usrInput.ProductType == pTypes[i].Id){ %>
                                        <option value=<%= pTypes[i].id %> selected><%= pTypes[i].name %></option>
                                    <% } else if (product.ProductType == pTypes[i].Id) { %>
                                        <option value=<%= pTypes[i].id %> selected><%= pTypes[i].name %></option>
                                    <% } else { %>
                                        <option value=<%= pTypes[i].id %> ><%= pTypes[i].name %></option>
                                    <% } %>
                                <% } %>
                            </select>
                        </div>
                        <div class='flex-inner dropdowns'>
                            <label for="productState">Estado de producto:</label>
                            <select name="productState" id="productState">
                                <% for (let i=0; i< pStates.length; i++) { %>
                                    <% if(usrInput != null && usrInput.ProductState != null && usrInput.ProductState == pStates[i].id){ %>
                                        <option value=<%= pStates[i].id %> selected><%= pStates[i].name %></option>
                                    <% } else if (product.ProductState == pStates[i].Id) { %>
                                        <option value=<%= pStates[i].id %> selected><%= pStates[i].name %></option>
                                    <% } else { %>
                                        <option value=<%= pStates[i].id %> ><%= pStates[i].name %></option>
                                    <% } %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div>
                        <button class='ingresar' type='submit' id="btnSave"> Guardar </button>
                        <button class='ingresar' type='button' onclick="javascript: window.location ='/admin';"> Volver </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </main>

</body>
</html>