<!DOCTYPE html>
<html>

    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/plugins/flexCarousel/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/productDetail.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/plugins/toasty/toasty.css" />
    <script src="/plugins/toasty/jquery.toasty.js"></script>
    <script src="/scripts/global.js"></script>
    <script defer src="/plugins/flexCarousel/jquery.flexslider.js"></script>
    <script src="/plugins/zoom/jquery.zoom.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/scripts/productDetail.js"></script>

<body>
    <%- include('../partials/header') %>

    <main>
        <section class="prodSection">
            <div class="flexsliderProduct">
                <ul class="slides">
                    <% for (let i=0; i < producto.Images.length; i++){%>
                        <li>
                            <img id="pim-<%= i %>" src = <%= "/images/products/"+producto.Images[i]%> />
                        </li> 
                    <%}%>
                   
                </ul>
            </div>

            <div class="productInfo">
                <h1><%= producto.name %></h1>
                <div class="container">
                    <ul class="codQtyPri">
                        <li>
                            <span>Código</span>
                            <span>Cod <%= producto.Code %></span>
                        </li>

                        <li>
                            <span>Cantidad</span>
                            <div class="productQty">
                                <div class="quantity">
                                    <input type="number" min="1" max="9" step="1" value="1">
                                </div>
                            </div>
                        </li>

                        <li>
                            <span>Precio</span>
                            <span>$ <%= producto.Price %></span>
                        </li>

                        <li>
                            <span>Subtotal</span>
                            <span>$ <%= producto.Price %></span>
                        </li>
                    </ul>
                    <div class="productDetail">
                        <ul>
                            <% for (let i=0; i < producto.Specs.length && i < 20 ; i++){%>
                                <li>
                                    <%= producto.Specs[i]%>
                                </li> 
                            <%}%>
                        </ul>
                        <div class="productText">
                            <%= producto.ShortDescription %>
                        </div>

                    </div>
                    
                    <div class="productPrice">
                        <span>Total:</span>
                        <hr>
                        <span>$ <%= producto.Price %></span>
                    </div>
                </div>
            </div>

            <div class="actions">
                <h2><i class="fas fa-wallet"></i> Método de pago</h2>
                <div class="cards">
                    <img src="/images/mastercard.png" class="credit-card" alt="Mastercard" title="Mastercard">
                    <img src="/images/visa.png" class="credit-card" alt="Visa" title="Visa">
                    <img src="/images/american-express.png" class="credit-card" alt="Amex" title="Amex">
                </div>
                <a href="#">Calcular Cuotas</a>

                <h2><i class="fas fa-truck"></i> Método de envío</h2>
                <div class="deliverText">
                    Envíos a domicilio por OCA Despacho 1 a 3 días hábiles. Entrega 5 a 7 días hábiles a partir del
                    despacho.
                </div>
                <a class="deliverPrice" href="#">Consultar costo envío</a>

                <div class="buttons">
                    <button class="btnAgregar" id="btnCart">Agregar Carrito</button>
                    <button class="btnConfirmarCompra">Confirmar Compra</button>
                </div>

            </div>
        </section>

        <hr class="separador"></hr>

        <section class="tabs">
            <ul>
                <li><a href="#tabs-1">Descripción</a></li>
                <li><a href="#tabs-2">Ficha Técnica</a></li>
                <li><a href="#tabs-3">Opiniones y Consultas</a></li>
            </ul>
            <div id="tabs-1">
                <p><%= producto.LargeDescription %></p>
            </div>
            <div id="tabs-2">
                <% for (let i=0; i < producto.Specs.length; i++){%>
                    <li>
                        <%= producto.Specs[i]%>
                    </li> 
                <%}%>
            </div>
            <div id="tabs-3">
                <H1 style="font-family: 'Roboto', sans-serif;">PRÓXIMAMENTE</H1>
            </div>
        </section>


    </main>

    <%- include('../partials/footer') %>

</body>
</html>