<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>BFG Store!</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">  
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <!--Hojas de Estilo-->
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/admin.css" />
    
</head>
<body>
    <% if(state && state.showMessage) { %>
        <div class="message" style=<%= "background-color:" + state.color %> id="stateMsg">
            <span><%= state.msg %></span>
            <input type="button" value="X" onclick="javascript: var element = document.getElementById('stateMsg'); element.parentNode.removeChild(element);">
        </div>
    <% } %>
    <div class='table'>
        <div class='cell'>
            <form action="/admin/create?_method=PUT" method="POST">
                <a href='/'>
                    <img class='logo' src='../logos/logo140x140.jpg'>
                </a>
                <h1>CARGA DE PRODUCTOS</h1>
                <div class="main">
                    <div class='flex-inner'>
                        <input type='text' class='entry' name='name' placeholder='Nombre'>
                    </div>
                    <div class='flex-inner'>
                        <input type='text' class='entry' name='shortDescription' placeholder='Descripción corta'>
                    </div>

                    <div class='flex-inner dropdowns'>
                        <label for="brand">Marca:</label>
                        <select name="brand">
                            <% for (let i=0; i< brands.length; i++) { %>
                                <option value=<%= brands[i].Id %>><%= brands[i].Name %></option>
                            <% } %>
                        </select>
                    </div>

                    <div class='flex-inner'>
                        <input type='text' class='entry' name='code' placeholder='Código'>
                    </div>

                    <div class='flex-inner'>
                        <textarea rows="5" name='largeDescription' placeholder='Descripción larga'></textarea>
                    </div>

                    <div class='flex-inner'>    
                        <textarea rows="5" name='specs' placeholder='Especificaciones técnicas (una por línea)'></textarea>
                    </div>

                    <div class='flex-inner'>    
                        <input type='number' class='entry' name='price' placeholder='Precio'>
                    </div>
                    <div>
                        <input type='text' class='entry' name='images' placeholder='Imágenes'>
                    </div>

                    <div class='flex-inner dropdowns'>
                        <label for="productType">Tipo de producto:</label>
                        <select name="productType">
                            <% for (let i=0; i< pTypes.length; i++) { %>
                                <option value=<%= pTypes[i].Id %>><%= pTypes[i].Name %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class='flex-inner dropdowns'>
                        <label for="productState">Estado de producto:</label>
                        <select name="productState">
                            <% for (let i=0; i< pStates.length; i++) { %>
                                <option value=<%= pStates[i].Id %>><%= pStates[i].Name %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div>
                    <button class='ingresar' type='submit'> Cargar </button>
                </div>
                  
            </form>
        </div>
    </div>
   

</body>
</html>