<!DOCTYPE html>
<html>

    <%- include('./partials/head') %>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/productDetail.css" />

<body>
    <%- include('./partials/header') %>

    <main>
        <section class="prodSection">
            <div class="flexsliderProduct">
                <ul class="slides">
                    <% for (let i=0; i < Images.length; i++){%>
                        <li>
                            <img src = <%= "/images/"+Images[i]%> />
                        </li> 
                    <%}%>
                   
                </ul>
            </div>

            <div class="productInfo">
                <h1><%= Name %></h1>
                <ul class="codQtyPri">
                    <li>
                        <span>Código</span>
                        <span>Cod <%= Code %></span>
                    </li>

                    <li>
                        <span>Cantidad</span>
                        <div class="productQty">
                            <div class="quantity">
                                <input type="number" min="1" max="9" step="1" value="1">
                            </div>
                        </div>
                    </li>

                    <li>
                        <span>Precio</span>
                        <span>$ <%= Price %></span>
                    </li>

                    <li>
                        <span>Subtotal</span>
                        <span>$ <%= Price %></span>
                    </li>
                </ul>
                <div class="productDetail">
                <ul>
                    <% for (let i=0; i < Specs.length; i++){%>
                        <li>
                            <%= Specs[i]%>
                        </li> 
                    <%}%>
                </ul>
                    <div class="productText">
                        <%= ShortDescription %>
                    </div>

                    <div class="productPrice">
                        <span>Total:</span>
                        <span>$ <%= Price %></span>
                    </div>
                </div>
            </div>

            <div class="actions">
                <h2><i class="fas fa-wallet"></i> Método de pago</h2>
                <div class="cards">
                    <img src="/images/mastercard.png" class="credit-card" alt="Mastercard" title="Mastercard">
                    <img src="/images/visa.png" class="credit-card" alt="Visa" title="Visa">
                    <img src="/images/american-express.png" class="credit-card" alt="Amex" title="Amex">
                </div>
                <a href="#">Calcular Cuotas</a>

                <h2><i class="fas fa-truck"></i> Método de envío</h2>
                <div class="deliverText">
                    Envíos a domicilio por OCA Despacho 1 a 3 días hábiles. Entrega 5 a 7 días hábiles a partir del
                    despacho.
                </div>
                <a class="deliverPrice" href="#">Consultar costo envío</a>

                <div class="buttons">
                    <button class="btnAgregar">Agregar Carrito</button>
                    <button class="btnConfirmarCompra">Confirmar Compra</button>
                </div>

            </div>
        </section>

        <hr class="separador"></hr>

        <section class="tabs">
            <ul>
                <li><a href="#tabs-1">Descripción</a> </li>
                <li><a href="#tabs-2">Ficha Técnica</a></li>
                <li><a href="#tabs-3">Opiniones</a></li>
            </ul>
            <div id="tabs-1">
                <p><%= LargeDescription %></p>
            </div>
            <div id="tabs-2">
                <ul>
                    <% for (let i=0; i < Specs.length; i++){%>
                        <li>
                            <%= Specs[i]%>
                        </li> 
                    <%}%>
                </ul>
            </div>
            <div id="tabs-3">
                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
                <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
            </div>
        </section>


    </main>

    <%- include('./partials/footer') %>

</body>
</html>