<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/scripts/productsList.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/admin.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/adminRegister.css" />
    <script src="/scripts/global.js"></script>
    <script src="/scripts/registerAdmin.js"></script>
<body>
    <div class="errors">
        <% if(typeof errors != "undefined") {%>
            <ul id="errorsUl" class="errors">
                <li class="closeErrors"><button onclick="javascript: getElementById('errorsUl').remove();">X</button></li>
                <% for(let i=0; i < errors.length; i++) { %>
                    <li><%= errors[i].msg%></li>
                <% } %>
            </ul>
        <% }%>
    </div>
    <%- include('../partials/adminHeader') %>
    <main>
        <div class='table'>
            <div class='cell'>
                <form action="/admin/usersCreation?_method=PUT" method="POST" enctype="multipart/form-data">
                    <a href='/'>
                        <img class='logo' src='/logos/logo140x140.jpg'>
                    </a>
                    <h1>CREACION DE USUARIO</h1>
                    <div class="main">
                        <div class='flex-inner'>
                            <input type='text' class='entry' name='name' id='name' placeholder='Nombre' value="<%= typeof inputValues != "undefined" ? inputValues.name : '' %>">
                            <div class="messages"></div>
                        </div>
                        <div class='flex-inner'>
                            <input type='text' class='entry' name='lastName' id='lastName' placeholder='Apellido' value="<%= typeof inputValues != "undefined" ? inputValues.lastName : '' %>">
                            <div class="messages"></div>
                        </div>
                        <div class='flex-inner'>
                            <input type='text' class='entry' name='email' id='email' placeholder='Email' value="<%= typeof inputValues != "undefined" ? inputValues.email : '' %>">
                            <div class="messages"></div>
                        </div>
                        <div class='flex-inner'>
                            <input type='text' class='entry' name='password' id='password' placeholder='Password'>
                            <div class="messages"></div>
                        </div>
                        <div class='flex-inner images'> 
                            <label for="images">Avatar:</label>
                            <input type="file" name="avatar" id="avatar">
                            <div class="messages"></div>
                        </div>
                    </div>
                    <div>
                        <button class='ingresar' type='submit' id="btnSave"> Cargar </button>
                        <button class='ingresar' type='button' onclick="javascript: window.location ='/admin';"> Volver </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </main>
   

</body>
</html>