<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/productsList.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/scripts/productsList.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/admin.css" />
<body>
    <% if(typeof state != "undefined" && state.showMessage) { %>
        <div class="message" style=<%= "background-color:" + state.color %> id="stateMsg">
            <span><%= state.msg %></span>
            <input type="button" value="X" onclick="javascript: var element = document.getElementById('stateMsg'); element.parentNode.removeChild(element);">
        </div>
    <% } %>
    <%- include('../partials/adminHeader') %>
    <main>
        <h1 class="productsTitle">Listado de usuarios</h1>
        <ul class="productsList">
            <% for(user of users) {%>
                <li>
                    <div class="productContainer">
                        <a class="productDelete" data-id="<%= user.id %>" href="#" onclick="javascript:alert(this); return false;"><i class="far fa-trash-alt"></i></a>
                        <a class="productLink" href=<%= "/admin/userEdition/" + user.id %>>
                            <div class="imgContainer"><img src=<%= "/images/users/" + user.avatar %> alt="avatar"></div>
                            <span class="productDescription">Nombre: <%= user.name +" "+ user.lastName %></span>
                            <span class="productPrice">Email: <%= user.email %></span>
                        </a>
                    </div>
                </li>
            <% } %>
        </ul>
    </main>
   

</body>
</html>